body {
    max-width: 1000px;
    margin: 0 auto 0 auto; 
}
header, main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 240, 218);
    padding: 10px;
}
header {
    height: 200px;
    border-radius: 0 0 15px 15px;
}
header .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
header:hover {
    box-shadow: 2px 2px 6px grey;
}
header div {
    padding: 2px;
    border-radius: 15px;
}
header div:hover {
    font-size: 105%;
}
header div i {
    margin-right: 10px;
}
header .br {
    margin-left: 30px;
}
header img {
    height: 180px;
    width: 140px;
    border-radius: 25px;
    object-fit: cover;
}
header img:hover {
    height: 220px;
    width: 180px;
    box-shadow: 1px 1px 6px grey, -1px -1px 6px grey;
}

main {
    flex-direction: column;
    border-radius: 15px;
    margin-top: 40px;
}